body {
    margin: 0px;
    padding: 0px;
}

main {
    padding: 16px;
}

footer {
    padding: 24px 24px;
    background-color: greenyellow
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: orange;
    color: white;
}

h1 {
    color: green;
}

h3 {
    color: green;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.container {
    display:grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: repeat(2, auto);
}

.taco-1 {
    grid-row: 1/2;
    grid-column: 1/2
}

.taco-2 {
    grid-row: 1/2;
    grid-column: 2/3;
}

.taco-3 {
    grid-row: 1/2;
    grid-column: 3/4;
}

.taco-4 {
    grid-row: 1/2;
    grid-column: 4/5;
}

.taco-5 {
    grid-row: 2/3;
    grid-column: 1/2;
}

tr:nth-child(2n) {
    background-color: lightgray;
}
